<form [formGroup]="internForm" (ngSubmit)="onSubmit()"> <!--indique que ce formulaire est associé aux validators-->
    <legend> Ajouter un stagiaire </legend>
    <fieldset>
        <div class="form-field">
             <input type="text" formControlName="lastname" placeholder="Votre nom...">
             <div *ngIf="internForm.controls['lastname'].errors && internForm.controls['lastname'].touched"> <!--affichage message erreur-->
                <span *ngIf="internForm.controls['lastname'].hasError('required')">
                Le nom ne peut être vide
                </span>
                <span *ngIf="internForm.controls['lastname'].hasError('minlenght')">
                Le nom doit comporter plus de 3 caractères
                </span>
            </div>
        </div>
        <div class="form-field">
            <input type="text" formControlName="firstname" placeholder="Votre prénom...">
            <div *ngIf="internForm.controls['firstname'].hasError('required') && internForm.controls['firstname'].touched">
                <span *ngIf="internForm.controls['firstname'].hasError('required')">
                Le nom ne peut être vide
                </span>
            </div>
        </div>
    </fieldset>
        <div class="form-field">
        <button [disabled]="internForm.invalid" type="submit"> Ajouter</button>
    </div>
</form>

{{ internForm.value | json}}   <!--permet de faire une vérification et de tester en affichant les noms et prénoms en json avant-->
